{% extends "layout.html" %}
{% block stylesheet %}
{% endblock %}
{% block body %}
<form style="max-width: 300px; margin: 0 auto 100px auto;" action="/editSensor" method="POST">
	<h3>Update your information</h3>
  <div class="form-group">
    <label for="mac_address">MAC Address:</label>
    <input type="text" name="mac_address" value="{{mac_add}}" class="form-control" id="mac_address">
  </div>
  <button type="submit" name="action" class="btn btn-default">Confirm</button>
</form>
{% endblock %}
