{% extends "layout.html" %}
{% block stylesheet %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}
{% block body %}
<h3>Sunlight:</h3>
<canvas id="myChart_sun" width="700" height="250"></canvas>
<h3>Moisture:</h3>
<canvas id="myChart_moi" width="700" height="250"></canvas>
<h3>Temperature:</h3>
<canvas id="myChart_tem" width="700" height="250"></canvas>
<h3>Fertility:</h3>
<canvas id="myChart_fer" width="700" height="250"></canvas>

<script>
var ctx_sun = document.getElementById("myChart_sun");
var ctx_moi = document.getElementById("myChart_moi");
var ctx_tem = document.getElementById("myChart_tem");
var ctx_fer = document.getElementById("myChart_fer");
var myChart = new Chart(ctx_sun, {
    type: 'bar',
    data: {
	labels: ["1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"],
    	datasets: [
        	{
			backgroundColor: 'rgba(255,235,59,1)',
            		borderWidth: 0,
            		data: [0, 0, 0, 0, 0, 0, 160,270,320,360,400,463,431,400,360,320,270,160,0,0,0,0,0,0],
        	}
    	]
    	},
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
		scaleLabel: {
      		  display: true,
     		  labelString: 'nmol'
      		}
            }],
	    xAxes: [{
            }]
        },
	legend: {
            display: false
        }
    }
});

var myChart = new Chart(ctx_moi, {
    type: 'bar',
    data: {
        labels: ["1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"],
        datasets: [
                {
                        backgroundColor: 'rgba(33,150,243,1)',
                        borderWidth: 0,
                        data: [0, 0, 0, 0, 0, 0, 160,270,320,360,400,463,431,400,360,320,270,160,0,0,0,0,0,0],
                }
        ]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: '%'
                }
            }],
            xAxes: [{
            }]
        },
        legend: {
            display: false
        }
    }
});

var myChart = new Chart(ctx_tem, {
    type: 'bar',
    data: {
        labels: ["1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"],
        datasets: [
                {
                        backgroundColor: 'rgba(244,67,54,1)',
                        borderWidth: 0,
                        data: [0, 0, 0, 0, 0, 0, 160,270,320,360,400,463,431,400,360,320,270,160,0,0,0,0,0,0],
                }
        ]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: '\xB0' + 'C'
                }
            }],
            xAxes: [{
            }]
        },
        legend: {
            display: false
        }
    }
});

var myChart = new Chart(ctx_fer, {
    type: 'bar',
    data: {
        labels: ["1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"],
        datasets: [
                {
                        backgroundColor: 'rgba(121,85,72,1)',
                        borderWidth: 0,
                        data: [0, 0, 0, 0, 0, 0, 160,270,320,360,400,463,431,400,360,320,270,160,0,0,0,0,0,0],
                }
        ]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'us/cm'
                }
            }],
            xAxes: [{
            }]
        },
        legend: {
            display: false
        }
    }
});

</script>

{% endblock %}
